# **DICTIONARY**

In [ ]:
'''Convert two lists into a dictionary'''

keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

print({keys[0]:values[0],keys[1]:values[1],keys[2]:values[2]})

#(or)

a = dict(zip(keys, values))
print(a)

#(or)

a={}
for i in range(len(keys)):
  a.update({keys[i]:values[i]})
print(a)

'''update() method adds the key-value pairs from one into another iterable datatype. If a key already exists in one, the corresponding value is updated;'''

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}
{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

'update() method adds the key-value pairs from one into another iterable datatype. If a key already exists in one, the corresponding value is updated;'

In [ ]:
# Z I P ()
'''The zip() function in Python is used to combine two or more iterable objects (like lists, tuples, etc.) element-wise into a single iterable.
It pairs up elements from each input iterable based on their positions.'''
#Example:

names = ["Alice", "Bob", "Charlie"]
ages = [25, 30, 28]

zipped = zip(names, ages)

zipped_list = list(zipped)

print(zipped_list)

[('Alice', 25), ('Bob', 30), ('Charlie', 28)]

In [ ]:
''' Merge two Python dictionaries into one'''

dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [ ]:
'''Print the value of key ‘history’ from the below dict'''

sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

sampleDict['class']['student']['marks']['history']

80

In [ ]:
# F R O M K E Y S ()
'''Initialize dictionary with default values'''
#The fromkeys() method in Python is a method available for dictionaries. It creates a new dictionary with specified keys and a default value for those keys.

employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

a = dict.fromkeys(employees, defaults)
print(a)

{'Kelly': {'designation': 'Developer', 'salary': 8000}, 'Emma': {'designation': 'Developer', 'salary': 8000}}

In [ ]:
a["Kelly"]

{'designation': 'Developer', 'salary': 8000}

In [ ]:
a["Emma"]

{'designation': 'Developer', 'salary': 8000}